

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/server/.vs/Invoices/v16/.suo
/server/Invoices/bin/Debug/netcoreapp3.1/Invoices.dll
/server/Invoices/bin/Debug/netcoreapp3.1/Invoices.pdb
/server/Invoices/obj/Debug/netcoreapp3.1/Invoices.csproj.CoreCompileInputs.cache
/server/Invoices/obj/Debug/netcoreapp3.1/Invoices.csprojAssemblyReference.cache
/server/Invoices/obj/Debug/netcoreapp3.1/Invoices.dll
/server/Invoices/obj/Debug/netcoreapp3.1/Invoices.pdb
